/*SECTION_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/
#_H1 {
  margin-bottom: 0px;
  font-size: 2rem;
  line-height: 2rem;
}

#_H2 {
  margin-bottom: 0px;
  font-size: 1.15rem;
  line-height: 1.35rem;
}

#_H3 {
  margin-bottom: 0px;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

#_H4 {
  margin-bottom: 0px;
}

#_H5 {
  margin-bottom: -2.5px;
}

#TEXT_OUTLINE {
  -webkit-text-stroke: 1.05px rgb(120, 120, 120);
}

#H2_7XL {
  margin-bottom: 0px;
}
/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/

/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
.center_holder {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 0;
}

#SHADOW_SECTION_BLOG {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(23, 23, 23);
  z-index: 1;
  top: 0px;
  left: 0;
}

.grid_0_blogimageholder {
  position: relative;
  width: 100%;
  max-width: 1520px;
  background-color: transparent;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: 220px auto 120px;
  grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
  grid-template-areas:
    ". . . . . . ."
    ". . . SUB . . ."
    ". . . . . . .";
}



#SIGN_UP {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-area: SUB;
  grid-row-gap: 20px;
  grid-template-columns: 450px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "SIGN_UP .";
}


#FORM_BUTTON {
  margin-top: 20px;
}

#GOOGLE_BUTTON {
  margin-top: 20px;
  width: 75%;
}











.grid_0_blogimage {
  grid-area: SUB;
  position: relative;
  width: 100%;
  max-width: 1520px;
  background-color: transparent;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: 0px auto 0px;
  grid-template-columns: 0px 120px 20px 1fr 20px 120px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". MAIN-AREA MAIN-AREA MAIN-AREA MAIN-AREA MAIN-AREA ."
    ". . . . . . .";
}

#BLOGIMAGE_HOLDER {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#BLOGIMAGE {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 320px auto auto;
  grid-template-areas:
    "IMAGE IMAGE"
    "TEXT TEXT"
    "SHARE .";
}

#BLOGIMAGE_2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 640px auto auto;
  grid-template-areas:
    "IMAGE IMAGE"
    "TEXT TEXT"
    "SHARE .";
}

#B_IMAGE {
  position: relative;
  grid-area: IMAGE;
  overflow: hidden;
}

#BLOGIMAGE_HOLDER_GRID {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "IMAGE_1 IMAGE_2 IMAGE_2";
}

#BLOGIMAGE_HOLDER_GRID_TWO {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "IMAGE_2 IMAGE_2 IMAGE_1";
}

#BLOGIMAGE_HOLDER_GRID_1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: IMAGE_1;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#BLOGIMAGE_HOLDER_GRID_2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: IMAGE_2;
  position: relative;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#BLOGIMAGE_HOLDER_2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "IMAGE_2 IMAGE_1 IMAGE_1"
    "IMAGE_3 IMAGE_1 IMAGE_1";
}

/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/

/*BREAKPOINT_1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 960px) and (max-width: 1280px) {
  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #SHADOW_SECTION_BLOG {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    z-index: 1;
    top: 0px;
    left: 0;
  }

  /*ALL/////////////////////////////////////////////////////////////////////////////////////////////////*/
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
/*BREAKPOINT_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*BREAKPOINT_3////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*ALL/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 480px) and (max-width: 960px) {
  .center_holder {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
  }

  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_HOLDER_GRID {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2"
      "IMAGE_1";
  }

  #BLOGIMAGE_HOLDER_GRID_TWO {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2 "
      "IMAGE_1";
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 320px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 480px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #PRODUCT_TEXT {
    grid-area: TEXT;
  }
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
/*BREAKPOINT_1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 0px) and (max-width: 480px) {
  /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*ALL///////////////////////////////////////////////////////////////////////////////////////////////////*/

  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_HOLDER_GRID {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2"
      "IMAGE_1";
  }

  #BLOGIMAGE_HOLDER_GRID_TWO {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2 "
      "IMAGE_1";
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 480px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #PRODUCT_TEXT {
    grid-area: TEXT;
  }

  /*ALL///////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*SECTION_1/////////////////////////////////////////////////////////////////////////////////////////////*/

  /*SECTION_8////PROCESS//////////////////////////////////////////////////////////////////////////////////*/
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
