


#VIDEO_CONTAINER {
    grid-area: VIDEO;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;

}


#VIDEO { 
   
    height: 420px;
    position: relative;
    border-radius: 0.5rem !important

}   



@media all and (max-width: 480px) {


    #VIDEO video{ 
        height: 300px;
        object-fit: cover;
        border-radius: 0.5rem !important;

    }  

}














{/*@media all and (min-width: 0px) and (max-width: 480px) {

    #VIDEO video {
        height: 300px;
        object-fit: cover;
        border-radius: 0.5rem !important;    
    }
}*/}