


#VIDEO_CONTAINER {
    grid-area: VIDEO;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    display: grid;
    justify-content: center;

}


#VIDEO { 
   
    height: auto;
    position: relative;
    border-radius: 0.5rem !important

}   



@media all and (max-width: 480px) {


    #VIDEO video{ 
        height: 300px;
        object-fit: cover;
        border-radius: 0.5rem !important;
    }  

}
